$colorSelectSite: #f16d7f;
$widthSite: 1600px;
$colorText: #222222;
$colorBackText: #ffffff;
$colorBorber: #e6e6e6;
$fontSizeRegular: 16px;
$productText: #6f6e6e;


$siteWidth: 1600px;
$textColorDifferent: #f16d7f;
$textColorDifferent2: #ef5b70;
$textColorDark: #222222;
$backgroundColor: #ffffff;
$backgroundColorShadow: #e6e6e6;
$buttonBorderColor: #eaeaea;
$requirementsColor: #ff0d0d;
$featureTextColor: #fbfbfb;
$footerTextColor: #898989;

$color2: #a4a4a4;
$fontWeightTitle: 900;
