@import 'vars';

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    text-decoration: none;
    font-family: Lato;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

.center {
    padding-left: calc(50% - $widthSite / 2);
    padding-right: calc(50% - $widthSite / 2);
}

@import 'header';


.top {
    display: flex;
    justify-content: space-between;
    background-color: #f8f3f4;
    padding: 65px 230px 65px;

    &__title {
        font-size: 24px;
        line-height: 20px;
        font-weight: 900;
        text-transform: uppercase;
        color: #f16d7f;
    }

    &__right {
        display: flex;
        gap: 5px;
    }

    &__link {
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;
        text-transform: uppercase;
        color: #636363;

        &:hover {
            color: $colorSelectSite;
        }
    }
}






.sh__cart__table {
    padding-left: 228px;
    padding-right: 233px;
    margin-top: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;

    &__collumnNames {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        padding-bottom: 20px;
        border-bottom: 1px solid #eaeaea;
        gap: 96px;
    }

    &__collumnName {
        display: block;
        font-family: Lato;
        font-size: 13px;
        line-height: 20px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: -0.015em;
        color: #222222;

        &__first {
            padding-right: 235px;
        }

    }

    &__productLine {
        padding-top: 24px;
        border-bottom: 1px solid #eaeaea;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    &__productDetails {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        gap: 21px;
        padding-right: 200px;
    }

    &__productImg:hover {
        -webkit-filter: brightness(30%);
        filter: brightness(30%);
    }

    &__productText {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 38px;
    }

    &__productName {
        display: block;
        font-family: Lato;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 400;
        text-transform: uppercase;
        color: #222222;
        padding-top: 13px;

    }

    &__productColorSize {
        padding-bottom: 22px;
        display: block;
        font-family: Lato;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #575757;

        &__data {
            font-weight: 300;
            color: #6f6e6e;
        }
    }

    &__productPrice {
        padding-right: 128px;
        display: block;
        font-family: Lato;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #656565;
    }

    &__inputField {
        margin-right: 108px;
        display: block;
        width: 54px;
        height: 30px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        text-align: center;
    }

    &__productShipping {
        padding-right: 126px;
        display: block;
        font-family: Lato;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #656565;
    }

    &__productSubtotal {
        padding-right: 127px;
        display: block;
        font-family: Lato;
        font-size: 13px;
        line-height: 20px;
        font-weight: 400;
        color: #656565;
    }

    &__productAction:hover {
        -webkit-filter: invert(57%) sepia(19%) saturate(2664%) hue-rotate(311deg) brightness(102%) contrast(89%);
        filter: invert(57%) sepia(19%) saturate(2664%) hue-rotate(311deg) brightness(102%) contrast(89%);
    }

    &__buttons {
        padding-top: 44px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    &__button {
        font-family: Lato;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
        width: 225px;
        height: 50px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;

        &:hover {
            color: $textColorDifferent;
            border: 1px solid $textColorDifferent;
        }
    }

}

.sh__cart__orderForm {
    padding-left: 228px;
    padding-right: 230px;
    padding-top: 63px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    gap: 36px;

    &__column {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        &_last {
            width: 360px;
            height: 214px;
            background-color: #f5f3f3;
        }
    }

    &__title {
        padding-bottom: 22px;
        font-family: Lato;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;
    }

    &__instruction {
        padding-top: 6px;
        padding-bottom: 24px;
        font-family: Lato;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #000000;
    }

    &__input {
        margin-bottom: 20px;
        padding-left: 17px;
        width: 338px;
        height: 45px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        font-family: Lato;
        font-size: 13px;
        line-height: 1.2;
        font-weight: 300;
        color: #b1b1b1;

        &_select {
            margin-bottom: 20px;
            width: 357px;
            height: 45px;
            background-color: #ffffff;
            border: 1px solid #eaeaea;
            font-family: Lato;
            font-size: 13px;
            line-height: 1.2;
            font-weight: 300;
            color: #b1b1b1;
        }
    }

    &__price {
        padding-top: 14px;
        display: block;
        text-align: right;
        margin-right: 41px;

        &_little {
            margin-top: 26px;
            font-family: Lato;
            font-size: 11px;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            color: #4a4a4a;
        }

        &_big {
            font-family: Lato;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #222222;
        }

        &_colored {
            color: $textColorDifferent;
        }
    }

    &__button {
        font-family: Lato;
        font-size: 11px;
        line-height: 1.2;
        font-weight: 700;
        text-transform: uppercase;
        color: #4a4a4a;
        width: 100px;
        height: 35px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;

        &_big {
            margin-left: 44px;
            margin-top: 40px;
            width: 273px;
            height: 50px;

            font-family: Lato;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;


            background-color: $textColorDifferent;
            color: $backgroundColor;
            border: 1px solid $backgroundColor;

        }
    }
}

@import 'footer';
